h2 {
  color: #dadada;
  text-align: left;
  margin-bottom: 1.5rem;
}

form {
  text-align: right;
}

input {
  width: 100%;
  outline: none;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button {
  border-radius: 1rem;
  border: 1px solid rgba(175, 47, 47, 0.15);
  background: none;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(175, 47, 47, 0.15);
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  float: left;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}
