<h2>Update</h2>
<form [formGroup]="updateForm" (ngSubmit)="updateTitle()">
  <input
    type="text"
    id="title"
    name="title"
    formControlName="title"
    [(ngModel)]="todo.title"
    required
    maxlength="55"
    pattern="^[^-\d\s].*"
  />
  <div
    *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="title.errors?.['required']">Title is required.</div>
    <div *ngIf="title.errors?.['pattern']">No start with number, hyphen or space.</div>
    <div *ngIf="title.errors?.['noDuplicated']">Title is unavailable.</div>
  </div>
  <button type="submit">Update</button>
</form>
