<h2>Create</h2>
<form [formGroup]="createForm" (ngSubmit)="createTodo()">
  <input
    type="text"
    id="title"
    name="title"
    formControlName="title"
    [(ngModel)]="todoTitle"
    placeholder="What needs to be done?"
    required
    maxlength="55"
    pattern="^[^-\d\s].*"
  />
  <div
    *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="title.errors?.['required']">Title is required.</div>
    <div *ngIf="title.errors?.['pattern']">
      No start with number, hyphen or space.
    </div>
    <div *ngIf="title.errors?.['noDuplicated']">
      Title is unavailable.
    </div>
  </div>
  <div *ngIf="successMessage"
       class="alert alert-success"
  >
    {{ successMessage }}
  </div>
  <button type="submit">Create</button>
</form>
