<h2>Create</h2>
<form [formGroup]="createForm" (ngSubmit)="createTodo()">
  <input
    type="text"
    id="title"
    name="title"
    formControlName="title"
    [(ngModel)]="todoTitle"
    placeholder="What needs to be done?"
    required
    minlength="1"
    maxlength="55"
    pattern="^[^-\s][a-zA-Z_\s-]+$"
  />
  <div
    *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="title.errors?.['required']">Title is required.</div>
    <div *ngIf="title.errors?.['minlength']">
      Title must be at least 1 characters long.
    </div>
    <div *ngIf="title.errors?.['pattern']">
      No number. No start with space.
    </div>
    <div *ngIf="title.errors?.['noDuplicated']">
      Title is unavailable.
    </div>
  </div>
  <button type="submit">Create</button>
</form>
