<h2>List</h2>
<ul *ngIf="todos">
  <li *ngFor="let todo of todos | checkedComplete: completedIsChecked" (click)="selectTodo(todo, todos.indexOf(todo))" [ngClass]="{'isSelected': selectedIndex == todos.indexOf(todo)}">
    <app-todo *ngIf="todo" [todo]="todo" [todos]="todos" (callback)="getTodos()"></app-todo>
  </li>
</ul>
<div *ngIf="!nothingIsCheck">
  <label>
    <input type="checkbox" [(ngModel)]="completedIsChecked"/>
    Completed
  </label>
  <button (click)="clearAll()" (disabled)="nothingIsCheck">Clear all</button>
</div>
