<h2>List</h2>
<ul *ngIf="todos">
  <li *ngFor="let todo of todos | checkedComplete : completedIsChecked">
    <app-todo
      [todo]="todo"
      [props]="listProps"
    ></app-todo>
  </li>
</ul>
<small *ngIf="todos.length !== 0">Double click the title to update</small>
<div *ngIf="!nothingIsComplete">
  <label>
    <input type="checkbox" [(ngModel)]="completedIsChecked" />
    Completed
  </label>
  <button (click)="clearAll()" [disabled]="(nothingIsComplete)">
    Clear all
  </button>
</div>
